<div class='ui container'>
  <div class="ui large buttons">
    <button class="ui button" >I'm a student</button>
    <div class="or"></div>
    <button class="ui button">I'm a tutor</button>
  </div>
</div>