<div class='ui container'>
    <form class="ui form">
        <div class="field">
            <label for="email">Email</label>
            <input type="email" name="email" required=true placeholder='email@example.com' id="email" required>
        </div>

        <div class="field">
            <label for="password">Password</label>
            <input type="password" placeholder='******' autocomplete="off" id="password" required>
            <br>
        </div>

        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" tabindex="0" required>
                <label>You're just as sane as I am. </label>
            </div>
        </div>
        <button class="ui button" type="submit">Submit</button>
    </form>
</div>
